appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
apptools @ file:///home/conda/feedstock_root/build_artifacts/apptools_1603302905871/work
atomicwrites==1.4.0
attrs==20.3.0
backports.functools-lru-cache==1.6.1
brotlipy==0.7.0
cached-property==1.5.1
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1606601427219/work
cftime @ file:///D:/bld/cftime_1605566946150/work
chardet @ file:///D:/bld/chardet_1607673976135/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colormath==3.0.0
configobj==5.0.6
cryptography @ file:///D:/bld/cryptography_1607606333800/work
cvxpy @ file:///D:/bld/cvxpy_1603433842539/work
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1607657054678/work
decorator==4.4.2
dipy @ file:///D:/bld/dipy_1605377415306/work
ecos @ file:///D:/bld/ecos_1604252947245/work
eelbrain @ file:///D:/bld/eelbrain_1602728744925/work
-e git+https://proloyd@bitbucket.org/cbrodbeck/eelfarm.git@4a99553cb978b181bb1b7cadb7e1c054d02ef7cc#egg=eelfarm
envisage @ file:///home/conda/feedstock_root/build_artifacts/envisage_1603302896419/work
future @ file:///D:/bld/future_1605203815590/work
-e git+https://github.com/mojocorp/geodesic.git@7b08bfb03c444819a31f216cb1e0a3fb9528f806#egg=geodesic
h5py @ file:///D:/bld/h5py_1604753757907/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///D:/bld/imagecodecs_1607400709339/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1607976089055/work
iniconfig==1.1.1
ipdb==0.13.4
ipython==5.8.0
ipython-genutils==0.2.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1607956439537/work
keyring @ file:///D:/bld/keyring_1608689907508/work
kiwisolver @ file:///D:/bld/kiwisolver_1604322456418/work
llvmlite==0.35.0
matplotlib @ file:///D:/bld/matplotlib-suite_1605180495775/work
mayavi==4.7.1
meshio @ file:///home/conda/feedstock_root/build_artifacts/meshio_1608663191312/work
mne @ file:///D:/bld/mne_1608224998444/work
mock @ file:///D:/bld/mock_1607639951525/work
netCDF4 @ file:///D:/bld/netcdf4_1608338658959/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nibabel @ file:///home/conda/feedstock_root/build_artifacts/nibabel_1606620997676/work
nilearn @ file:///home/conda/feedstock_root/build_artifacts/nilearn_1605187371333/work
numba @ file:///D:/bld/numba_1607010622162/work
numexpr @ file:///D:/bld/numexpr_1602669950074/work
numpy @ file:///D:/bld/numpy_1604946150193/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
osqp==0.6.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1607785313469/work
pandas @ file:///D:/bld/pandas_1607423779614/work
pathlib2 @ file:///D:/bld/pathlib2_1604234391584/work
patsy==0.5.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1604748899638/work
pluggy==0.13.1
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1606467285986/work
prompt-toolkit==1.0.15
psutil @ file:///D:/bld/psutil_1608349236490/work
py==1.10.0
pybind11==2.6.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydicom @ file:///home/conda/feedstock_root/build_artifacts/pydicom_1607562682046/work
pyface @ file:///home/conda/feedstock_root/build_artifacts/pyface_1603135219468/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
Pypubsub==4.0.3
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyreadline @ file:///D:/bld/pyreadline_1602253143868/work
PySocks @ file:///D:/bld/pysocks_1602327025506/work
pysurfer==0.11.0
pytest==6.2.2
python-dateutil==2.8.1
python-picard==0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1608904108784/work
pyvista @ file:///home/conda/feedstock_root/build_artifacts/pyvista_1607627166052/work
pyvistaqt==0.3.0
PyWavelets @ file:///D:/bld/pywavelets_1607290963729/work
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1602283314110/work
PyYAML==5.3.1
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
scikit-image==0.18.1
scikit-learn @ file:///D:/bld/scikit-learn_1608656375159/work
scipy @ file:///C:/bld/scipy_1604305143982/work
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1594303955168/work
scs @ file:///D:/bld/scs_1604253552890/work
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
stabbb @ git+https://github.com/proloyd/StabBB.git@9337d222dc260274bcdafa008fb0878403719962
statsmodels @ file:///D:/bld/statsmodels_1604227125900/work
tables==3.6.1
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1607552325200/work
toml==0.10.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///D:/bld/tornado_1604105307492/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1608900042843/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
traits @ file:///D:/bld/traits_1605920600650/work
traitsui @ file:///home/conda/feedstock_root/build_artifacts/traitsui_1603211877744/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
vtk===-PKG-VERSION
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260090416/work
wincertstore==0.2
wxPython==4.0.7.post2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
